{% extends 'base.html' %}

{% block title %} Quiz {% endblock title %}

{% block content %}

    {% for category in categorys %}
        <div class="column" style="overflow: hidden; display: inline-block;">
            <div class="card h-100">
              <img src="{{ category.image.url }}" class="card-img-top" height="100" width="100">
              <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">{{ category.description }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Start Quiz</small>
              </div>
            </div>
        </div>
    {% endfor %}    

{% endblock content %}    